@import "/src/assets/variables";

.menu {
    height: 100%;
    background-color: $white;

    &__header {
        padding: 8px;
    }

    &__title {
        color: $secondary-color;
        font-weight: bold;
    }

    &__list {
        padding-left: 0;
    }

    &__item {
       list-style-type: none;
       border-bottom: 1px solid $light-gray;
       font-size: 1.2rem;
       padding-left: 2px;

       .menu__link {
           display: block;
           padding: 4px 8px;
           font-weight: bold;
       }

       &:hover {
           background-color: $light-gray;
       }
    }

    &__item--active {
        background-color: $primary-color;

        .menu__link {
            color: $secondary-color;
        }

        &:hover {
            background-color: $primary-color;
        }
    }

    &__link {
        color: $primary-color;
        &:hover {
            text-decoration: none;
        }
    }
}

@media (min-width: $mobile-width) {
    .menu__item {
        font-size: 1rem;
    }
}
