@import "/src/assets/variables";

.input {
    &__field {
        border: solid 1px;
        border-radius: 7px;

        &:focus {
            outline: none;
        }
    }
}

.disabled {
    background-color: $light-gray;
}