@import "/src/assets/variables";

.login {
    width: fit-content;
    padding: 0.8rem;
    border: solid $primary-color;
    border-radius: 0.5rem;

    &__fields {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__submit {
        margin-top: 2rem;
    }
}