@import "/src/assets/variables";

.home {

    margin: 32px;

    &__title {
        color: $secondary-color;
        margin-bottom: 32px;
    }

    a {
        color: $primary-color;
        text-decoration: underline;
    }
}
