@import "/src/assets/variables";

.default {
    &__title {
        color: $yellow;
    }

    &__separator {
        border: solid $yellow;
    }

    &__content {
        margin-top: 32px;
        padding: 16px;
        border: solid 1px;
    }

    &__action {
        border: none;
        background-color: $white;
        display: flex;
        padding: 4px;

        &:hover {
            background-color: $light-gray;
        }
    }
}

.hide {
    display: none;
}